aside {
}

.sticky {
  position: sticky;
  top: 20px;
  background-color: white;
  padding: 1rem;
  font-size: 1.5rem;
  color: gray;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  border-radius: 0.5rem;
}

aside button {
  background-color: #00ccbc;
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

aside .subTotal {
  border-top: 0.2rem solid lightgray;
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
}

aside .deliveryCost {
  border-top: 0.2rem solid lightgray;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

aside .total {
  display: flex;
  margin-top: 1.5rem;
  font-size: 2rem;
  color: black;
  justify-content: space-between;
}
